GROQ_API_KEY=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
TELEGRAM_BOT_TOKEN=8694064928:AAFzNEEk0CVUUiztViy15E1z2rHkQ0LACGw
TELEGRAM_WEBHOOK_URL=https://sabotage-stump-popcorn.ngrok-free.dev 
BRAND_ID=kreactive_toys
BRAND_NAME=Kreactive Toys
DB_PATH=./data/d2cagent.db
CHROMA_PATH=./data/chroma
MAX_COMPENSATION=3
MAX_LOOP_COUNT=5
LLM_MODEL=llama-3.3-70b-versatile
LLM_TEMPERATURE=0.2
MAX_TOKENS=2048
LOG_LEVEL=INFO